<!DOCTYPE html>
<html lang="fr">

<head>

    <meta charset="UTF-8">

    <meta
        name="viewport"
        content="width=device-width, initial-scale=1.0"
    >
    <link rel="icon" href="/static/images/ticket-system-logo.png" type="image/png">
    <link rel="shortcut icon" href="/static/images/ticket-system-logo.png">

    <title>Votre Ticket</title>

    <script src="https://cdn.tailwindcss.com"></script>

</head>

<!-- ========================= -->
<!-- AUDIO NOTIFICATION -->
<!-- ========================= -->

<audio
    id="notifSound"
    preload="auto"
>
    <source
        src="/static/sounds/notification.wav"
        type="audio/mpeg"
    >
</audio>

<script>

    // =========================
    // VARIABLES
    // =========================

    const numero =
        "{{ numero }}"

    let dejaAnnonce =
        false

    // =========================
    // UPDATE TICKET
    // =========================

    async function updateTicket()
    {

        try
        {

            const response =
                await fetch(
                    `/ticket_status/${numero}`
                )

            const data =
                await response.json()

            // =====================
            // POSITION
            // =====================

            document.getElementById(
                "position"
            ).innerText =
                data.position ?? "--"

            document.getElementById(
                "heure_estimee"
            ).innerText =
                data.heure_estimee ?? "--"
            
            document.getElementById(
                "temps_restant"
            )
            // =====================
            // GUICHET
            // =====================

            if (data.guichet)
            {

                document.getElementById(
                    "guichet"
                ).innerText =
                    "Guichet " + data.guichet
            }

            // =====================
            // NOTIFICATION BOX
            // =====================

            const notif =
                document.getElementById(
                    "notification"
                )

            // =====================
            // EN ATTENTE PROCHE
            // =====================

            if (
                data.position <= 2
                &&
                data.statut == "En attente"
            )
            {

                notif.classList.remove(
                    "hidden"
                )

                notif.className =
                    `
                    mt-6
                    bg-orange-100
                    text-orange-700
                    p-5
                    rounded-2xl
                    text-xl
                    font-bold
                    shadow-lg
                    animate-pulse
                    `

                if (data.temps_restant <= 0)
                {

                    notif.innerText =
                        "⏳ Votre ticket est le prochain à être appelé."

                }

                else
                {

                    notif.innerText =
                        "Préparez-vous... votre tour arrive dans "
                        + data.temps_restant
                        + " min"

                }

            }

            // =====================
            // EN COURS
            // =====================

            else if (
                data.statut == "En cours"
            )
            {

                notif.classList.remove(
                    "hidden"
                )

                notif.className =
                    `
                    mt-6
                    bg-green-100
                    text-green-700
                    p-5
                    rounded-2xl
                    text-xl
                    font-bold
                    shadow-xl
                    animate-bounce
                    `

                notif.innerText =
                    "🔔 Veuillez vous présenter au guichet "
                    + data.guichet

                // =====================
                // SON
                // =====================

                if (!dejaAnnonce)
                {

                    dejaAnnonce = true

                    const audio =
                        document.getElementById(
                            "notifSound"
                        )

                    audio.play().catch(
                        err => console.log(err)
                    )

                    // =====================
                    // VOIX
                    // =====================

                    const texte =
                        `Ticket ${numero},
                        veuillez vous présenter
                        au guichet
                        ${data.guichet}`

                    const speech =
                        new SpeechSynthesisUtterance(
                            texte
                        )

                    speech.lang = "fr-FR"

                    speech.rate = 0.95

                    speech.pitch = 1

                    window.speechSynthesis
                        .speak(speech)
                }

            }

            // =====================
            // TERMINÉ
            // =====================

            else if (
                data.statut == "Terminé"
            )
            {

                notif.classList.remove(
                    "hidden"
                )

                notif.className =
                    `
                    mt-6
                    bg-gray-200
                    text-gray-700
                    p-5
                    rounded-2xl
                    text-xl
                    font-bold
                    shadow
                    `

                notif.innerText =
                    "✅ Votre ticket est terminé."
            }

            // =====================
            // AUTRE CAS
            // =====================

            else
            {

                notif.classList.add(
                    "hidden"
                )
            }

        }

        catch(error)
        {

            console.log(
                "Erreur updateTicket :",
                error
            )
        }

    }

    // =========================
    // PREMIER CHARGEMENT
    // =========================

    updateTicket()

    // =========================
    // AUTO REFRESH
    // =========================

    setInterval(
        updateTicket,
        5000
    )

</script>

<body class="
    bg-gray-100
    flex
    items-center
    justify-center
    min-h-screen
">

    <div class="
        bg-white
        p-8
        rounded-3xl
        shadow-xl
        w-11/12
        max-w-md
        text-center
    ">

        <h1 class="
            text-3xl
            font-bold
            text-blue-600
            mb-6
        ">

            Ticket Créé

        </h1>

        <div class="space-y-4">

            <div>

                <p class="text-gray-500">
                    Numéro Ticket
                </p>

                <h2 class="
                    text-5xl
                    font-bold
                    text-blue-600
                ">
                    {{ numero }}
                </h2>

            </div>

            <div>

                <p class="text-gray-500">
                    Position
                </p>

                <h3
                    id="position"
                    class="
                        text-3xl
                        font-bold
                    "
                >
                    {{ position }}
                </h3>
                

            </div>
            <div>
                <p class="text-gray-500">
                    Heure estimée d'appel
                </p>
                
                <h3
                    id="heure_estimee"
                    class="
                        text-3xl
                        font-bold
                        text-green-500
                    "
                >
                    --
                </h3>
            </div>

            <div>

                <p class="text-gray-500">
                    Temps estimé
                </p>

                <h3 class="
                    text-3xl
                    font-bold
                    text-green-500
                ">
                    {{ temps }} min
                </h3>

            </div>
            <div>

                <p class="text-gray-500">
                    Guichet
                </p>
            
                <h3
                    id="guichet"
                    class="
                        text-3xl
                        font-bold
                        text-blue-600
                    "
                >
                    ---
                </h3>
            
            </div>

        </div>

        <div class="
            mt-8
            bg-orange-100
            text-orange-700
            p-4
            rounded-2xl
        ">

            Restez attentif : un signal sonore
        vous avertira lorsque votre tour arrivera.

        </div>

        <div
            id="notification"
            class="
                mt-6
                hidden
                p-5
                rounded-2xl
                text-xl
                font-bold
            "
        >
        </div>

    </div>

</body>
</html>